<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto fondo-negrito">
           <h2 class="mb-1">Requerimientos Fiscales</h2>
           <h5 class="mb-5">
            <br>
            <em>
                <p class="fw-normal">
                    Consultas Fiscales a los registros de Nuevatel.
                </p>
            </em>
           </h5> 
           <a href="/profile" class="btn btn-outline-light mb-3">Empezar</a>
        </div>
    </header>
</main>